use Mix.Config

config :scrum_keeper, ScrumKeeper.SlackBot,
  token: "xoxb-..."

config :scrum_keeper, ScrumKeeper.Repo,
  database: "scrum_keeper_dev",
  username: "user",
  password: "password",
  hostname: "localhost",
  pool: Ecto.Adapters.SQL.Sandbox
